@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic');

.TicketsContainer {
  margin: auto;
  width: 754px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "logo  logo  logo"
    "FilterSection Tabs Tabs"
    "FilterSection  TicketSection  TicketSection";
  gap: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  .Logo {
    margin: 40px 0 10px;
    text-align: center;
    grid-area: logo;
  }
}


